.avatar {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #646cff;
}

.avatar-fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.avatar-tiny {
    width: 24px;
    height: 24px;
    font-size: 12px;
}

.avatar-small {
    width: 45px;
    height: 45px;
    font-size: 14px;
}

.avatar-medium {
    width: 64px;
    height: 64px;
    font-size: 24px;
}

.avatar-large {
    width: 100px;
    height: 100px;
    font-size: 40px;
}

.avatar-xlarge {
    width: 150px;
    height: 150px;
    font-size: 60px;
}